
<div class="container h-100 py-5">

    <!-- Call to Action -->
<div class="action-container">
  <div class="title">
      <p class="title-part" style="color: #4796a9">FAQ about Mortgages</p>
  </div>
    <p class="slogan">
      Learn how inflation affects your mortgage and how to manage your finances!
    </p>
</div>
<br><br>
<!--Angular Expansion Panels-->

<!--How does inflation affect variable-mortgage rates?-->
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How does inflation affect variable-mortgage rates?
        </mat-panel-title>
        <mat-panel-description>
          Could increase or decrease your mortgage rate.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>A variable mortgage rate is the prime rate (i.e: the interest rate that commercial banks 
        charge clients) plus or minus the bank’s mortgage rate discount. Thus, an increase in inflation 
        could potentially increase or decrease one’s mortgage rate.</p>
        <p><b>References</b></p>
        <ul>
            <li><a href="https://loanscanada.ca/mortgage/how-inflation-affects-your-mortgage/#:~:text=As%20such%2C%20an%20increase%20in,would%20work%20out%20to%205.5%25.">Loans Canada</a></li>
            <li><a href="https://www.investopedia.com/terms/p/primerate.asp">Investopedia</a></li>
        </ul>
    </mat-expansion-panel> 
</mat-accordion>

<!--How does inflation affect fixed-mortgage rates?-->
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How does inflation affect fixed-mortgage rates?
      </mat-panel-title>
      <mat-panel-description>
        May indirectly increase fixed-mortgage rate.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>An increase in inflation rate is not directly linked to an increase in a fixed-mortgage rate. 
      However, a bond yield may increase as inflation increases which may, in turn, increase your fixed-mortgage rate.
      A bond-yield is essentially the return you get on a bond.</p>
      <p><b>References</b></p>
      <ul>
          <li><a href="https://loanscanada.ca/mortgage/how-inflation-affects-your-mortgage/#:~:text=As%20such%2C%20an%20increase%20in,would%20work%20out%20to%205.5%25.">Loans Canada</a></li>
          <li><a href="https://www.desjardins.com/ca/co-opme/action-plans-tips/savings-investment/understanding-bond-yields/index.jsp">Desjardins Bond Yields</a></li>
        </ul>
  </mat-expansion-panel> 
</mat-accordion>

<!--Will mortgage rates go up in 2024?-->
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Will mortgage rates go up in 2024?
        </mat-panel-title>
        <mat-panel-description>
          Expected to decrease.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Current studies and predictions estimate that mortgage rates will decrease by mid-2024 however this is subject to change.</p>
      <p><b>References</b></p>
      <ul>
          <li><a href="https://www.fanniemae.com/newsroom/fannie-mae-news/mortgage-rates-expected-dip-below-6-percent-2024-boosting-home-sales#:~:text=The%20ESR%20Group%20expects%20mortgage,the%20year%20below%206%20percent.">Fanny Mae</a></li>
          <li><a href="https://www.nesto.ca/mortgage-basics/mortgage-rates-forecast-canada/">Mortgage Rates Forecast Canada</a></li>
        </ul>
        
    </mat-expansion-panel> 
</mat-accordion>


</div>



  