<div>
    <div class="container h-100 py-5">
        <h1 class="text-center">FAQ about Vehicles and Inflation</h1>
        <h3 class="text-center">Learn how inflation affects your vehicles and how to manage your finances!</h3>
        <br><br>
    
        <!--rgb(234,220,135)-->
    
         <!-- Call to Action-->
         <!--<div style="background-color: rgb(234,220,135)" class="card text-black my-5 py-4 text-center">
            <br>
            <h3 class="text-center">Learn how inflation affects your mortgage and how to manage your finances!</h3>
        </div>-->
    
    <!--Angular Expansion Panels-->
    <!--How will inflation affect car rentals or loans?-->
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How will inflation affect costs of transportation?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Inflation impacts someone's ability to purchase or loan a car in many ways:
          </p>
          <ul>
            <li>Increases interest rates for loaning a car.</li>
            <li>Cars are more expensive.</li>
            <li>The cost of living increases so cars become less affordable.</li>
          </ul>
          <p>
            Transportation also becomes more expensive when considering the increased cost of fuel, as explained below. 
          </p>
          <p><b>References</b></p>
        <ul>
            <li><a href="https://www.carloanscanada.com/blog/how-inflation-affects-car-loans-in-canada">Canada Life</a></li>
            <li><a href="https://apnews.com/article/why-have-oil-prices-gone-up-a9f4ddbd815dd6c6fd90698443e7b8b3">CarLoans Canada</a></li>
        </ul>
        </mat-expansion-panel> 
    </mat-accordion>

    <!--How does inflation affect gas prices?-->
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How does inflation affect gas prices?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Many factors have affected our supply of oil: the Russian-Ukrainian war, lasting effects of COVID-19, and cut-backs in oil
            shipment to other countries. Because the demand cannot match the supply, gas prices increase and contribute to inflation. 
          </p>
          <p><b>References</b></p>
        <ul>
            <li><a href="https://www.canadalife.com/blog/investing-saving/why-are-gas-prices-so-high-in-canada.html">Canada Life</a></li>
            <li><a href="https://apnews.com/article/why-have-oil-prices-gone-up-a9f4ddbd815dd6c6fd90698443e7b8b3">AP News</a></li>
        </ul>
        </mat-expansion-panel> 
    </mat-accordion>
    
        <!--How can we cope with the increased car prices?-->
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    How can we cope with the increased car prices?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                There are many ways that one can save money when buying or loaning a car:
              </p>
              <ul>
                <li>Buy a used car. </li>
                <li>Buying an electric vehicle</li>
                <li>Compare interest rates from many companies</li>
                <li>Carpooling</li>
            </ul>
            <p>

            </p>
            <p><b>References</b></p>
            <ul>
                <li><a href="https://www.bankrate.com/loans/auto-loans/how-inflation-affects-auto-loan-rates/">Bankrate</a></li>
            </ul>
    
            </mat-expansion-panel> 
        </mat-accordion>

    <!--How can we change our commuting habits to cope with inflation?-->
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How can we change our commuting habits to cope with inflation?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Due to the increase in gas prices over the last few years, many people have opted for different modes of transportation
            in order to save money. According to a survey completed by Canadians, some common ways to change commuting habits are:
          </p>
          <ul>
            <li>Reducing the amount of unnecessary travel</li>
            <li>Taking public transit</li>
            <li>Walking or biking</li>
            <li>Carpooling</li>
        </ul>
        <p>
            Sometimes, these options are unrealistic for those who live very far from their workplace or who require frequent travel.  Because of increasing gas prices, 
            public transit prices may also rise too, making it less affordable to the public. 
        </p>
        <p><b>References</b></p>
        <ul>
            <li><a href="https://rates.ca/resources/canadians-transportation-changes-inflation">Rates.ca</a></li>
        </ul>

        </mat-expansion-panel> 
    </mat-accordion>
    </div>
</div>
    
    
      