<div class="content">
<!-- Call to Action -->
<div class="action-container">
    <div class="title">
        <p class="title-part" style="color: #4796a9">Sun Life</p>
        <p class="title-part" style="color: rgb(234, 220, 135)"> &nbsp;- &nbsp;</p>
        <p class="title-part" style="color: #4796a9">Fun with Finances</p>
    </div>
      <p class="slogan">
        Take Care of Your Finances: Conquer Inflation with Smart Strategies Today!
      </p>
</div>
    
    <div class="topics">
        <app-card [topics]="topics"></app-card>
    </div>    
</div>

