.navbar {
  display: flex;
  flex-direction: row;
  border-radius: 0 0 10px 10px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 15px;
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-nav {
    flex-direction: column;
  }
  .logo {
    margin-left: 0px;
  }
  .mr-auto {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
